<div class="container">
    <div class="card mb-3">
        <img class="card-img-top" id="course-image" src="src/images/game-designer-course.svg" width="300" height="300">
        <div class="card-body text-center">
          <h5 class="card-title mb-3" id="course-name" style="color: cornflowerblue;"><b>Game Design</b></h5>
          <p class="card-text" id="course-details">Curso sobre os fundamentos e técnicas envolvendo o Game Design</p>
          <p class="card-text" id="course-class"><i class="fas fa-book fa-lg" aria-hidden="true" style="color: cornflowerblue;"></i> 8 aulas</p>
          <p class="card-text" id="course-duration"><i class="fas fa-clock fa-lg" aria-hidden="true" style="color: cornflowerblue;"></i> 2h 30min</p>
          <p class="card-text" id="course-certificate"><i class="fas fa-certificate fa-lg" aria-hidden="true" style="color: cornflowerblue;"></i> Com certificado</p>
          <p class="card-text h4 mt-4" id="course-price"><b>R$ 45.00</b></p>
          <button type="button" class="btn btn-outline-primary col-md-4 mt-3">Comprar</button>
          <hr>
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
            <div class="col mb-4 aula">
              <div class="card">
                <div class="card-body text-center">
                  <div class="bg-dark rounded d-flex align-items-center justify-content-center w-100" style="height: 150px;">
                    <i class="fas fa-play-circle fa-3x link-media" aria-hidden="true" style="color: white;"></i>
                  </div>
                  <h4 class="card-title mt-3">Aula 01</h4>
                  <p class="card-text">Nesta aula nós vamos ver como...</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 aula">
              <div class="card">
                <div class="card-body text-center">
                  <div class="bg-dark rounded d-flex align-items-center justify-content-center w-100" style="height: 150px;">
                    <i class="fas fa-play-circle fa-3x link-media" aria-hidden="true" style="color: white;"></i>
                  </div>
                  <h4 class="card-title mt-3">Aula 02</h4>
                  <p class="card-text">Nesta aula nós vamos ver como...</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 aula">
              <div class="card">
                <div class="card-body text-center">
                  <div class="bg-dark rounded d-flex align-items-center justify-content-center w-100" style="height: 150px;">
                    <i class="fas fa-play-circle fa-3x link-media" aria-hidden="true" style="color: white;"></i>
                  </div>
                  <h4 class="card-title mt-3">Aula 03</h4>
                  <p class="card-text">Nesta aula nós vamos ver como...</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 aula">
              <div class="card">
                <div class="card-body text-center">
                  <div class="bg-dark rounded d-flex align-items-center justify-content-center w-100" style="height: 150px;">
                    <i class="fas fa-play-circle fa-3x link-media" aria-hidden="true" style="color: white;"></i>
                  </div>
                  <h4 class="card-title mt-3">Aula 04</h4>
                  <p class="card-text">Nesta aula nós vamos ver como...</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 aula">
              <div class="card">
                <div class="card-body text-center">
                  <div class="bg-dark rounded d-flex align-items-center justify-content-center w-100" style="height: 150px;">
                    <i class="fas fa-play-circle fa-3x link-media" aria-hidden="true" style="color: white;"></i>
                  </div>
                  <h4 class="card-title mt-3">Aula 05</h4>
                  <p class="card-text">Nesta aula nós vamos ver como...</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 aula">
              <div class="card">
                <div class="card-body text-center">
                  <div class="bg-dark rounded d-flex align-items-center justify-content-center w-100" style="height: 150px;">
                    <i class="fas fa-play-circle fa-3x link-media" aria-hidden="true" style="color: white;"></i>
                  </div>
                  <h4 class="card-title mt-3">Aula 06</h4>
                  <p class="card-text">Nesta aula nós vamos ver como...</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 aula">
              <div class="card">
                <div class="card-body text-center">
                  <div class="bg-dark rounded d-flex align-items-center justify-content-center w-100" style="height: 150px;">
                    <i class="fas fa-play-circle fa-3x link-media" aria-hidden="true" style="color: white;"></i>
                  </div>
                  <h4 class="card-title mt-3">Aula 07</h4>
                  <p class="card-text">Nesta aula nós vamos ver como...</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 aula">
              <div class="card">
                <div class="card-body text-center">
                  <div class="bg-dark rounded d-flex align-items-center justify-content-center w-100" style="height: 150px;">
                    <i class="fas fa-play-circle fa-3x link-media" aria-hidden="true" style="color: white;"></i>
                  </div>
                  <h4 class="card-title mt-3">Aula 08</h4>
                  <p class="card-text">Nesta aula nós vamos ver como...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted text-center">
          <small>Game Hype School&trade; - <a href="#">Suporte e ajuda</a></small>
        </div>
    </div>
</div>