@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.bg-primary-2 {
    background-color: #0058b6 !important;
}

.color-primary-2 {
    color: #00438b !important;
}

.input-none-out:hover, .input-none-out {
    background-color: white !important;
    box-shadow: none !important;
    border: none !important;
}

.link-media {
    cursor: pointer;
    margin: 10px !important;
}

.courses-link {
    cursor: pointer !important;
}

.courses-link:active {
    color: white !important;
}

html, body {
    font-family: 'Rubik', sans-serif;
}

#btn-warning {
    text-align: center;
    width: 200px; 
    font-size: 18px;
}

.cc-icon {
    transform: scale(1);
    transition: all 1s;
}

.icon-scale {
    transform: scale(1.3);
    transition: all 1s;
}

@media only screen and (max-width: 767px) {
    .signin-buy {
        border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
}

@media only screen and (min-width: 768px) {
    .signup-buy {
        border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
}

@media only screen and (max-width: 490px) {
    #btn-warning {
        width: 90px;
        font-size: 15px;
    }

    #message-warning {
        font-size: 14px;
        text-align: center;
    }
}