@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.bg-primary-2 {
    background-color: #0058b6 !important;
}

.color-primary-2 {
    color: #00438b !important;
}

.input-none-out:hover, .input-none-out {
    box-shadow: none !important;
}

.link-media {
    cursor: pointer;
    margin: 10px !important;
}

.courses-link {
    cursor: pointer !important;
}

.courses-link:active {
    color: white !important;
}

html, body {
    font-family: 'Rubik', sans-serif;
}

#btn-warning {
    text-align: center;
    width: 200px; 
    font-size: 18px;
}

.cc-icon {
    transform: scale(1);
    transition: all 1s;
}

.icon-scale {
    transform: scale(1.3);
    transition: all 1s;
}

.card-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
}

@media only screen and (max-width: 767px) { /* xsm media-size -> md media-size */ 
    .signin-buy {
        border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    }

    .login-animation {
        width: 300px; 
        height: 300px;
    }

    .banner-illustrations {
        display: none;
    }
}

@media only screen and (min-width: 768px) { /* md media-size -> xlarge media-size */ 
    .signup-buy {
        border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
    }

    .login-animation {
        width: 500px; 
        height: 500px;
    }
}

@media only screen and (max-width: 490px) {
    #btn-warning {
        width: 90px;
        font-size: 15px;
    }

    #message-warning {
        font-size: 14px;
        text-align: center;
    }

    .card-signup {
        width: 90%;
    }
}

@media only screen and (max-width: 990px) {
    .banner-illustrations {
        width: 290px;
    }
}